name: "memer"
description: "roasts your commit by using a meme"
runs:
  using: "composite"
  steps:
  - uses: actions/checkout@v4
     with:
      fetch-depth: 0
  - name: Get changed files
    id: diff
    run: |
      echo "BASE=${{ github.event.before }}" >> $GITHUB_ENV
      echo "HEAD=${{ github.sha }}" >> $GITHUB_ENV
      git diff --name-only ${{ env.BASE }} ${{ env.HEAD }} > changed.txt
      echo "changed=$(cat changed.txt | tr '\n' ' ')" >> $GITHUB_OUTPUT
  - name: Install Node
    uses: actions/setup-node@v4
    with:
      node-version: '22'
  - name: Run OpenAI review
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      BASE: ${{ env.BASE }}
      HEAD: ${{ env.HEAD }}
    run: |
      npm i -g axios
      node .github/scripts/ai_review.js "${BASE}" "${HEAD}"
